.lists-div {
  height: 500px;
  overflow-y: auto;
  padding: 10%;
  border-radius: 5px;
}
.lists-cards {
  border-radius: 5px;
  padding: 5%;
  background: aliceblue;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 10%), -1px 0 2px rgb(0 0 0 / 5%);
}
.lists-image {
  width: 10%;
  padding: 2%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  object-fit: cover;
}
.imageStyles {
  padding: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.padding-15 {
  padding: 15%;
}
